<div class="divStyle">
  <mat-card class="cardStyle">
    <h1>Cadastrar do cliente</h1>
    <mat-divider></mat-divider>
    <form action="" [formGroup]="form" (ngSubmit)="cadastrarCliente()">
          <mat-grid-list cols="4" rowHeight="100px">

            <mat-grid-tile [colspan]="4" [rowspan]="1">
              <h3>Informações do cliente ou da razão social</h3>
            </mat-grid-tile>  

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Nome/Razão Social</mat-label>
                <input matInput id="name" formControlName="name">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>CPF/CNPJ</mat-label>
                <input matInput mask="000.000.000-00||00.000.000/0000-00" formControlName="cpfcnpj">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Telefone</mat-label>
                <input matInput mask="(00) 00000-0000" formControlName="telefone">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-grid-list cols="9" rowHeight="100px">

            <mat-grid-tile [colspan]="9">
              <h3>Endereço</h3>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>CEP</mat-label>
                <input matInput formControlName="cep" mask="00000-000">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>UF</mat-label>
                <input matInput formControlName="uf">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Logradouro</mat-label>
                <input matInput formControlName="logradouro">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero">
              </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile [colspan]="3" [rowspan]="1">
              <mat-form-field class="inputStyle">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="bairro">
              </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="9" [rowspan]="1">
              <button mat-raised-button color="primary" type="submit">Cadastrar cliente</button>
            </mat-grid-tile>
            
          </mat-grid-list>
          
          
        </form>
      </mat-card>
        <button mat-raised-button color="primary" (click)="obterClientes()">Cadastrar cliente</button>
</div>